/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    color: #737679;
    background: #FAFAFA;
    line-height: 1.5em;
  }

h2,
h3,
a {
	color: #323536;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 900;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name a,
.main-nav a {
    display: block;
    text-align: center;
    padding: 15px;
}

.main-nav a {
    background-color:#FFFFFD;
    margin: 7.5px 0;
}

.navigation {
    margin-bottom: 4em;
}

.main-footer{
    border-top: #737679 solid 1px;
    padding: 1.5em 0;
}

.main-footer .name-footer {
    float: left;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.main-footer .link-to-top {
    float: right;
    text-transform: uppercase;
}

.main-nav-footer {
    display: none;
}

/* ---- Layout Containers ---- */

.container {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.description {
    /* display: table; */
    text-align: center;
    line-height: 1.75em;
    padding-bottom: 2em;
}

.primary, 
.contact {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.primary {
    background-color: #FCFFFF;
}

/* ---- Page Elements ---- */

.description img {
    width: 250px;
    margin: 0 auto;
    margin-bottom: .5em;
}

.description p {
    padding: 0 1em;
}

.subtitle {
    padding-bottom: 1.5em;
}

.contact .subtitle {
    padding-bottom: 1em;;
}

.card-text {
    padding: 0 1em;
    padding-bottom: 2em;
}

.card-title {
    padding-top: 0.5em;
}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/**************************
MEDIA QUERIES
**************************/

@media (min-width: 768px) {
    .main-nav li {
        display: inline-block;
    }
    .main-nav {
        text-align: center;
    }

    .name {
        margin-bottom: 0.3em;
    }

    .main-nav a {
        background-color: #FAFAFA;
    }

    .navigation {
        margin-bottom: 1em;
    }

    .description p {
        float: left;
        width: 60%; 
    }

    .description img {
        float: right;
        width: 40%;
    }

    .card {
        float: left;
        max-width: 49%;
        /* display: inline-block; */
        padding: 0 0.125em;
    }

    .contact-text {
        max-width: 500px;
        margin: 0 auto;
    }

    .main-nav-footer {
        display: table;
        float: right;
    }

    .link-to-top {
        display: none;
    }

    .main-nav-footer li{
        display: inline-block;
        margin: 0 1em;
    }
}

@media (min-width: 1024px){
    .name, 
    .card {
        /* display: inline-block; */
        float: left;
    }

    .main-nav {
        /* display: inline-block; */
        float: right;
        padding-top: 1em;
    }

    .description p {
        padding: 0 2em;
    }

    .container{
        padding: 0 2.5em;
    }

    .primary{
        margin: 0 1em;
        padding-top: 1em;
    }

    .card {
        max-width: 33%;
    }

    .contact {
        padding: 1em 0;
    }

}