/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    color: #384047;
    background: #FAFAFA;
  }

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}